#dexProgress, #dexProgress-caught, #dexProgress-seen {
	height: 15px;
	display: flex;
	align-items: center;
}

#dexProgress-caught, #dexProgress-seen {
	justify-content: center;
}

#dexProgress {
	width: 1025px;
	border-radius: 10px;
	background-color: #D9D9D9;
}

#dexProgress-seen {
	background-color: #FFF2CC;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#dexProgress-caught {
	background-color: #B6D7A8;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#importExportBtns {
	display: flex;
	gap: 40px;
	margin-top: 20px;
}

#importFile {
	display: none;
}

#toggles {
	margin-top: 20px;
	display: flex;
	width: fit-content;
	gap: 20px;
}

#formToggles, #gameToggles {
	position: relative;
	display: grid;
	background-color: cornflowerblue;
	padding: 15px;
	border-radius: 10px;
}

#gameToggles {
	grid-template-columns: repeat(2, 1fr);
}

#formToggles {
	grid-template-columns: repeat(5, 1fr);
}

.toggleCollapse {
	position: absolute;
	right: 5px;
	top: 5px;
}

.firstToggleHead {
	grid-column: 1 / -1;
	font-weight: bold;
}

.toggleHead {
	grid-column: 1 / -1;
}

div.toggleHead {
	margin-top: 25px;
	font-weight: bold;
}

#formToggles > h3, #gameToggles > h3 {
	margin-top: 0;
	text-align: center;
}

#boxes {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 15px;
	width: fit-content;
}

.box {
	display: grid;
	grid-template-columns: repeat(6, 72px);
	grid-template-rows: auto repeat(5, 72px);
	gap: 7px;
	background-color: cornflowerblue;
	padding: 7px;
	width: fit-content;
	border-radius: 10px;
}

.box-header {
	grid-column: 1 / -1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 0;
}

.pkmn {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: white;
	border: none;
	border-radius: 10px;
	transition: transform 0.2s;
	font-size: 12px;
}

.pkmn:hover {
	transform: scale(1.05);
}

.pkmn > img {
	width: 100%;
	height: auto;
}

.not-in-my-games {
	background-color: #F9CB9C;
}

.not-available {
	background-color: #F4CCCC;
}

.go-only {
	background-color: gray;
}

.seen {
	background-color: #FFF2CC;
}

.caught {
	background-color: #B6D7A8;
}

.mega {
	border: 3px solid #990000;
}

.gmax {
	border: 3px solid #F1C232;
}

@media screen and (max-width: 768px) {
	#boxes {
		gap: 5px;
	}

	.box {
		grid-template-columns: repeat(6, 36px);
		grid-template-rows: repeat(5, 36px);
		gap: 3px;
	}

	.pkmn {
		font-size: 6px;
	}

	#formToggles {
		grid-template-columns: repeat(2, 1fr);
	}
}